*{
	margin: 0;
	padding: 0;
}

#cronometro{
	margin: 10px auto;
	width: 540px;
    height: 115px;
    z-index: 10000;
    position: fixed;
    left: 40%;
    color: aquamarine;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
    z-index: 10000;
}

#vidas{
    position: fixed;
    right: 0%;
}

#fin {
    visibility: hidden;
}

#endGame{
    position: fixed;
    float: left;
    top: 15%;
    left: 15%;
}

#endGame p {
    color: silver;
    font-size: 300px;
    font-weight: bold; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);

}

#recarga{
    position: fixed;
    top: 80%;
    left: 40%;
    font-size: 30px;
    color: silver;
}